@model Firmeza.Web.Helpers.PaginatedList<Firmeza.Web.Data.Entities.Rental>

@{ ViewData["Title"] = "Rentals"; }

<h1>@ViewData["Title"]</h1>

@if (TempData["PdfGenerationError"] != null)
{
    <div class="alert alert-warning" role="alert">
        @TempData["PdfGenerationError"]
    </div>
}

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Rental</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().Id)</th>
            <th>@Html.DisplayNameFor(model => model.First().Customer.FullName)</th>
            <th>@Html.DisplayNameFor(model => model.First().Vehicle.Name)</th>
            <th>@Html.DisplayNameFor(model => model.First().StartDate)</th>
            <th>@Html.DisplayNameFor(model => model.First().EndDate)</th>
            <th>@Html.DisplayNameFor(model => model.First().TotalHours)</th>
            <th>@Html.DisplayNameFor(model => model.First().TotalAmount)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@if (Model.Any()){
    foreach (var item in Model) {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.Customer.FullName)</td>
                <td>@Html.DisplayFor(modelItem => item.Vehicle.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.StartDate)</td>
                <td>@Html.DisplayFor(modelItem => item.EndDate)</td>
                <td>@Html.DisplayFor(modelItem => item.TotalHours)</td>
                <td>@Html.DisplayFor(modelItem => item.TotalAmount)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                    <a href="~/contracts/contract_@(item.Id).pdf" target="_blank" class="btn btn-secondary btn-sm"> <i class="bi bi-file-pdf-fill"></i> Download Contract </a>
                </td>
            </tr>
    }
}
else
{
    <tr>
        <td colspan="8" class="text-center">No rentals found.</td>
    </tr>
}
    </tbody>
</table>

@{ 
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-secondary @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-secondary @nextDisabled">
    Next
</a>
